<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/jfbergado/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="jfbergado" />
      <add key="ClearTextPassword" value="2d909ee6ed2b514180d99411ae46df203a7b607a" />
    </github>
  </packageSourceCredentials>
</configuration>